.row {
	width: 680px;
	margin: 0%;
}

.col {
	height: 100px;
	margin: 0%;
}
.pawn1 {
	position: absolute;
	transition: left 0.5s, top 0.5s;
	height: 15px;
	width: 15px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px 5px rgb(240, 182, 182);
}

.pawn2 {
	position: absolute;
	transition: left 0.5s, top 0.5s;
	height: 15px;
	width: 15px;
	background-color: rgb(59, 166, 228);
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px 5px silver;
}
.pawn3 {
	position: absolute;
	transition: left 0.5s, top 0.5s;
	height: 15px;
	width: 15px;
	background-color: rgb(73, 226, 73);
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px 5px silver;
}
.pawn4 {
	position: absolute;
	transition: left 0.5s, top 0.5s;
	height: 15px;
	width: 15px;
	background-color: rgb(247, 247, 68);
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px 5px silver;
}
.boardContainer {
	background-image: url(../Board/IMG_0156.JPG);
	background-size: fit;
	background-attachment: fixed;
	color: whitesmoke;
}
