.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* ------------------ General --------------------- */

body {
	font-family: 'Source Code Pro';
	background-color: black;
}
.content-container {
	display: flex;
	margin: 5%;
	height: fit-content;
	text-align: center;
}
.cards-container {
	height: fit-content;
}
.header {
	text-align: center;
}

/* _________________ BOARD ____________________ */

.col {
	/* width: 50px; */
	/* height: 100px; */
	padding: 0%;
}
.row {
	width: 650px;
	padding: 0%;
}
.row {
	width: 650px;
	padding: 0%;
}

.tile {
	border: grey solid 1px;
}
.boardContainer {
	border: grey solid 1px;
	height: fit-content;
	margin-right: 5px;
	border-radius: 3px;
}

/* -------------- CHATBOX ------------------*/

.chatbox {
	/* width: 300px; */
	height: 175px;
	border: grey solid 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
/* ------------- TILE CARD ---------------- */

.tileCard {
	border-radius: 0px;
	border: 1px grey solid;
}
/* ------------- CHOICE CARD -------------- */

.choiceCard {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: solid grey 1px;
}
